[submodule "community-edition/services/hubs"]
	path = community-edition/services/hubs
	url = https://github.com/LearnHub/hubs
	branch = avn-prod
[submodule "community-edition/services/reticulum"]
	path = community-edition/services/reticulum
	url = https://github.com/LearnHub/reticulum
	branch = avn-prod
[submodule "community-edition/services/spoke"]
	path = community-edition/services/spoke
	url = https://github.com/LearnHub/Spoke
	branch = avn-prod
